:root {
  --color-primary: #5051f9;
  --color-secondary: #232360;
  --color-text-gray: #768396;
  --bg-color: #f3f6fd;
  --bg-progress: #e6e9ed;
  --color-text: #000000;
  --color-white: #ffffff;
  --box-shadow-color: #3e6be01f;
  --color-blue-stroke: #cad5ff;
  --bg-card: #fbfaff;
  --gray-stroke: #e7ebfb;
  --color-secondary-text: #23235f;
}
